 @chaset"UFT-8"
 
 body{
  background-color: #add8e6；
 }
 
  #main{
    width: 960px;
    margin: 90px  auto;
    padding:  40px 80px;
    border: green 1px solid;
    backbround-color: white;
  }
  
    .photo{
      float:  left;
      margin-right: 30px
    }
    
      .london_picture:after{
        content:  "";
        clear:  both;
        display:  block;
      }
      
      .explanation{
        float: left;
        width: 468px;
      }
      
      dt{
        clear: left;
        float: left;
        font-weight:bold;
      }
      
      .btn{
        -webkit-appearance: none;
        margin: 5px   /*見やすく隙間を開けた*/
        width:  100px;  /*幅*/
        height: 40px  /*高さ*/
        padding:  10px  /*境界内の余白の大きさ*/
        border: none;   /*境界線の指定*/
        font-size:20px; /*フォントサイズ*/
        }
        
        .btn:hover {
          opacity:  1.0;  /*薄く*/ 
        }
        
        .btn:active {
           color: silver;/*銀色にする*/
        }
        
        .btn-submit {
            background-color: lightgreen;
        }
        
        .btn-reset  {
          background-color: lightcoral;
        }
        
  #ingredient{
    border: 2px solid skyblue;
    border-collapse:  collapse;
  }
  
  th{
    border: 1px solid skyblue;
    background-color: paleturquoise;
    padding: 5px;
    width:  100px;
    text-align: center;
   }
   
   td{
    border: 1px solid skyblue;
    padding:  5px;
    width:  80px;
    text-align: right;
   }
   
   caption{
    padding: 5px;
   }
   
   #Transportation{
    background-color: lightyellow;
   }
   
   thead  th, tfoot th{
    background-color: white;
   }
   
   thead  td{
    color:  white;
    backgound-color:  paleturquoise;
    text-align:center;
   }
   
   tfoot td{
    font-weight:  bold;
    background-color: white;
   }
  
  
      
